/* app css stylesheet */
.line {
  stroke-width: 1.5px;
  fill:"blue";
}
.axis path,
.axis line {
  fill: none;
  stroke: #b7b7b7;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

/*************** MENU **************/

.menuBar{
  width: 100%;
  height: 50px;
  text-align: left;
}

.menuBar ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  margin: auto;
}

.menuBar li
{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
}

.menuBar li a{
  color: #3297FD; 
}

.menuBar li a:link
{
  text-decoration: none;
}

.menuBar li.active{
  background-color: #2D89E5;
}

.menuBar li.active a{
  color: #fff;
}

.graphControl{
  width: 100%;
  height: 50px;
  text-align: right;
}

.graphControl ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  margin: auto;
}

.graphControl li
{
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  color: #3297FD;
  cursor: pointer;
}

.graphControl li.active
{
  border: 1px solid #2D89E5;
}

.graphControl img{
  vertical-align: middle; 
}
